<div class="container">
  <h3 class="h3 mt-5">Meu Perfil</h3>

  <hr>

  <div class="row">
    <div class="col-md-7 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Razão Social" [(ngModel)]="pessoaJuridica.razaoSocial" name="razaoSocial" required>
      </mat-form-field>
    </div>

    <div class="col-md-3 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="CPF ou CNPJ" [(ngModel)]="pessoaJuridica.cpf" name="cpf" required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail" [(ngModel)]="pessoaJuridica.email" name="email" disabled>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Endereço" required [(ngModel)]="pessoaJuridica.logradouro" name="logradouro">
      </mat-form-field>
    </div>

    <div class="col-md-1 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Número" required [(ngModel)]="pessoaJuridica.numero" name="numero">
      </mat-form-field>
    </div>

    <div class="col-md-2 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Complemento" [(ngModel)]="pessoaJuridica.complemento" name="complemento">
      </mat-form-field>
    </div>

    <div class="col-md-4 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Bairro" required [(ngModel)]="pessoaJuridica.bairro" name="bairro">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Cidade" required [(ngModel)]="pessoaJuridica.cidade" name="cidade">
      </mat-form-field>
    </div>

    <div class="col-md-4 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Estado" required [(ngModel)]="pessoaJuridica.estado" name="estado">
      </mat-form-field>
    </div>

    <div class="col-md-4 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="CEP" required [(ngModel)]="pessoaJuridica.cep" name="cep">
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="col-md-4 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefone Fixo" [(ngModel)]="pessoaJuridica.telefoneFixo" name="telefoneFixo">
      </mat-form-field>
    </div>

    <div class="col-md-4 mb-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefone Celular" required [(ngModel)]="pessoaJuridica.telefoneCelular"
          name="telefoneCelular">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descreva aqui mais sobre sua empresa, faça sua propaganda!"
          [(ngModel)]="pessoaJuridica.descricaoPetProvider" cols="300" rows="3"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-3">
    <label class="btn btn-default">
      <input type="file" (change)="selectFile($event)">
    </label>

    <button mat-flat-button color="primary" type="button" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
  </div>



  <div class="row">

    <div class="col-md-8 mb-8">
      <h5>Indique abaixo os serviços que deseja prestar</h5>
      <hr>
    </div>

    <div class="col-md-8 mb-8">
      <mat-checkbox name="banhoETosa" [(ngModel)]="pessoaJuridica.banhoETosa">Banho / Tosa</mat-checkbox><br />

      <mat-checkbox name="consulta" [(ngModel)]="pessoaJuridica.consulta">Consulta</mat-checkbox><br />

      <mat-checkbox name="tosaExotica" [(ngModel)]="pessoaJuridica.tosaExotica">Tosa Exótica</mat-checkbox><br />

      <mat-checkbox name="vacinacao" [(ngModel)]="pessoaJuridica.vacinacao">Vacinação</mat-checkbox><br />

      <mat-checkbox name="cirurgiaGeral" [(ngModel)]="pessoaJuridica.cirurgiaGeral">Cirurgia Geral</mat-checkbox><br />

      <mat-checkbox name="hidratacao" [(ngModel)]="pessoaJuridica.hidratacao">Hidratação</mat-checkbox><br />

      <mat-checkbox name="penteadosArtisticos" [(ngModel)]="pessoaJuridica.penteadosArtisticos">Penteados Artísticos
      </mat-checkbox><br />

      <mat-checkbox name="acupuntura" [(ngModel)]="pessoaJuridica.acupuntura">Acupuntura</mat-checkbox><br />

      <mat-checkbox name="spa" [(ngModel)]="pessoaJuridica.spa">SPA</mat-checkbox><br />

      <mat-checkbox name="hotel" [(ngModel)]="pessoaJuridica.hotel">Hotel</mat-checkbox><br />

      <mat-checkbox name="creche" [(ngModel)]="pessoaJuridica.creche">Creche</mat-checkbox><br />

      <mat-checkbox name="taxi" [(ngModel)]="pessoaJuridica.taxi">Táxi</mat-checkbox><br />

      <mat-checkbox name="ensaioFotografico" [(ngModel)]="pessoaJuridica.ensaioFotografico">Ensaio Fotográfico
      </mat-checkbox><br />

      <mat-checkbox name="adestramento" [(ngModel)]="pessoaJuridica.adestramento">Adestramento</mat-checkbox><br />

      <mat-checkbox name="massagem" [(ngModel)]="pessoaJuridica.massagem">Massagem</mat-checkbox><br />

      <mat-checkbox name="petwalk" [(ngModel)]="pessoaJuridica.petwalk">Pet Walk</mat-checkbox><br />

    </div>
  </div>
  <div class="row mt-5 mb-5" style="float: right">
    <button mat-flat-button color="primary" type="button" (click)="inativar()">Inativar Conta</button>
    <button mat-flat-button color="primary" type="button" (click)="alterar()">Alterar Dados</button>
  </div>