<div class="mt-5">
    <section>
        <h2 class="h1 py-5 font-weight-bold text-center">Login</h2>
        <div class="d-flex justify-content-center">
            <div class="card login-form text-white bg-info">
                <div class="card-header">
                    <h5 class="text-center">Coloque suas credencias para acessar o Mypet</h5>
                </div>
                <div class="card-body">
                    <form #loginForm="ngForm">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input id="email" class="form-control" type="text" placeholder="Email" name="email" required [(ngModel)]="credentials.email" #email="ngModel">
                            <div [hidden]="email.valid || email.pristine" class="text-danger">
                                Email obrigatório
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="senha">Password:</label>
                            <input id="senha" class="form-control" type="password" placeholder="senha" name="senha" required [(ngModel)]="credentials.senha" #senha="ngModel">
                            <div [hidden]="senha.valid || senha.pristine" class="text-danger">
                                Senha obrigatório
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-warning" (click)="login()" [disabled]="!loginForm.form.valid">
              <span class="ml-1">Log in</span>
            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
