<div class="container marketing">

    <!-- Três colunas de texto, abaixo do carousel -->
    <div class="row">

      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../assets/cliente.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Cliente MyPet</h2>
        <p>Aqui, você encontra os melhores serviços para o seu pet! Você sendo cadastrado na plataforma MyPet é possível ter acesso a todos os prestadores de serviço da sua região! Além de tudo pode agendar serviços com o prestador escolhido de forma online!</p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../assets/fornecedor.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Prestador MyPet</h2>
        <p>Seja um dos prestadores da melhor plataforma de agendamento de serviços! Aqui você pode anunciar os serviços que deseja prestar e ainda tem sua agenda online!</p>
      </div>

      <div class="col-lg-4">
        <img class="rounded-circle" src="../../../assets/evento.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Qualidade Mypet</h2>
        <p>Aqui na Mypet queremos ajudar a vida dos donos de pets e dos prestadores de serviços! Tudo unido em uma plataforma de forma rápida e fácil!</p>
      </div>

       <!-- <div class="col-lg-4">
        <img class="rounded-circle" src="../../../assets/evento.jpeg" alt="Generic placeholder image" width="140" height="140">
        <h2>Eventos</h2>
        <p>Pesquise aquilo que mais combina com você e seu pet! Te esperamos para agitar os melhores eventos da sua região.</p>
        <button mat-flat-button color="primary" type="button" (click)="pesquisarEvento()">Pesquisar</button>
      </div>  -->

    </div>
