<h4 class="text-center pt-5">Minha Agenda</h4>

<mat-tab-group (selectedTabChange)="tabChanged($event)" class="m-5">
  <mat-tab *ngFor="let tab of datas">
    <ng-template mat-tab-label>{{tab}}</ng-template>
    <div class="row my-3 atendimento-row">
      <div class="col-4 py-3" *ngFor="let card of listaPorTab">
        <div class="card atendimento-card">
          <div class="card-body">
            <h5 class="card-title">{{card.tipoService}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Atendimento: das {{card.tempoInicio}} às {{card.tempoFim}}</h6>
            <p class="card-text m-1">Pet: {{card.nomePet}}</p>
            <p class="card-text m-1">Raça: {{card.racaPet}}</p>
            <p class="card-text m-1">Espécie: {{card.especiePet}}</p>
            <a href="#" class="card-link" data-toggle="modal" data-target="#modalCancelar" (click)="enviarIdAgendamento(card)">Cancelar Agendamento</a>
            <a href="#" class="card-link" data-toggle="modal" data-target="#modalFinalizar" (click)="enviarIdAgendamento(card)">Finalizar Atendimento</a>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>


<!-- Modal FINALIZAR -->
<div class="modal fade" id="modalFinalizar" tabindex="-1" role="dialog" aria-labelledby="modalFinalizar"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes do Atendimento: </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea cols="40" rows="5" offLabel="X" onIcon="pi; pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}" 
        [(ngModel)]="observacaoAtendimento.observacaoAtendimento"></textarea>
      </div>
      <div class="modal-footer">
        <button mat-flat-button color="primary" type="button" data-dismiss="modal">Fechar</button>
        <button mat-flat-button color="primary" type="button" (click)="gravarStatusFinalizado()">Finalizar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal CANCELAR -->
<div class="modal fade" id="modalCancelar" tabindex="-1" role="dialog" aria-labelledby="modalCancelar"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Motivo do Cancelamento:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea cols="40" rows="5" offLabel="X" onIcon="pi; pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}"
        [(ngModel)]="observacaoAtendimento.motivoCancelamento"></textarea>
      </div>
      <div class="modal-footer">
        <button mat-flat-button color="primary" type="button" data-dismiss="modal">Fechar</button>
        <button mat-flat-button color="primary" type="button" (click)="gravarStatusCancelado()">Cancelar
          Agendamento</button>
      </div>
    </div>
  </div>
</div>