.line {
    width: 436px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.line-tables {
    float: left;
}

.floatLeft { width: 50%; float: left; }
.floatRight {width: 50%; float: right; }
/* .container { overflow: hidden; } */

.table-nao-contratados{font-size:13.5px }

.example-container{
    display: flex;
    justify-content: center;
}

.form-fields{
    margin: 10px;
}

.row-title{
    display: flex;
    justify-content: center;
}

.row-table{
    margin: 70px;
}

.button-save{
    display: flex;
    justify-content: right;
}