<p-card header="Escolha o tempo que leverá o atendimento" [style]="{width: '300px', height: '300px'}">
  <div class="mb-2 mr-2">
    <button class="mr-1 mt-1" pButton type="button" label="30 min"></button>
    <button class="mr-1 mt-1" pButton type="button" label="45 min"></button>
    <button class="mr-1 mt-1" pButton type="button" label="60 min"></button>
  </div>
  <br/>
  <div class="mb-2 mr-2">
    <button class="mr-1 mt-1" pButton type="button" label="75 min"></button>
    <button class="mr-1 mt-1" pButton type="button" label="90 min"></button>
    <button class="mr-1 mt-1" pButton type="button" label="120 min"></button>
  </div>
</p-card>
