<div class="pet-image-home">
    <div class="pet-text-home">
    
        <h1 style="font-size:50px">Quem Somos?</h1>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Somos a MyPet</h1>
      <p class="lead">Somos um grupo focado em juntar os MELHORES prestadores de serviços para seu Pet em um lugar só!
          Nossa ideia surgiu da crescente necessidade dos donos de pets para encontrar os variados tipos de serviço e terem acesso a avaliação deles.</p>
    </div>
  </div>