
<br/>
<br/>
<div class="p-grid">
    <div class="p-col">
        <p-panel header="Administração">
            <button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="aprovarFornecedor()" label="Aprovar Prestador"></button>
            <br/>
            <br/>
            <button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="deletarPetClient()" label="Desabilitar Cliente"></button>
            <br/>
            <br/>
            <button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="deletarPetProvider()" label="Desabilitar Prestador"></button>
            <br/>
            <br/>
            <button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="buscarPetClient()" label="Buscar Cliente"></button>
            <br/>
            <br/>
            <button pButton type="button" class="ui-button-raised ui-button-rounded" (click)="buscarPetProvider()" label="Buscar Prestador"></button>
            <br/>
            <br/>
        </p-panel>
    </div>
</div>
